* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo {
    font-size: 48px;
    text-align: center;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]
{
    position: relative;
    font-size: 20px;
    box-sizing: content-box;
    width: 80%;
    height: 65px;
    border: 2px solid black;
}

input[type="submit"]
{
    position: absolute;
    box-sizing: content-box;
    background: #ffff;
    width: 15%;
    height: 65px;
    border: 2px solid black;
}

.pencarian {
    padding-top: 70px;
}

.lapor {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 22px;
}

.lapor a {
    color: black;
}

.lapor i {
    margin-left: 8px;
}

div.isi {
    margin-left: 9.6%;
    margin-right: 13%;
}

.isi hr {
    size: 8px;
    border: 2px solid black;
}

.isi h5 {
    padding-bottom: 20px;
}

.isi p {
    text-align: justify;
    padding-top: 20px;
}

.sub a {
    float: right;
}